[req]
default_bits       = 2048
default_md         = sha256
prompt             = no
default_keyfile    = host.docker.internal.key
encrypt_key        = no

distinguished_name = dn

req_extensions     = v3_req
x509_extensions    = v3_req

[dn]
C            = PF
ST           = Tahiti
L            = Papeete
O            = Jerome Wacongne
emailAddress = ch4mp@c4-soft.com
CN           = host.docker.internal

[v3_req]
subjectAltName   = critical, @alt_names
basicConstraints = critical, CA:TRUE
keyUsage         = critical, digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign, cRLSign
extendedKeyUsage = critical, serverAuth, clientAuth

[alt_names]
DNS.1 = host.docker.internal
DNS.2 = localhost
DNS.3 = host.docker.internal
IP.1 = 127.0.0.1
IP.2 = 10.0.2.2

