package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

@WebMvcTest(properties = {"{{webMvcTestProperties}}"})
@Import({{{#importsToImport}}
  {{.}}{{^last}}, {{/last}}
{{/importsToImport}}})
@AutoConfigureAddonsWebmvcResourceServerSecurity
class {{className}} {

  {{#mocks}}
  @MockitoBean
  {{type}} {{name}};
  {{/mocks}}

  @Autowired
  MockMvc mockMvc;

  @Autowired
  ObjectMapper json;

  {{#tests}}
  @Test
  {{#annotation}}
  @{{annotation}}{{#annotationArg}}("{{annotationArg}}"){{/annotationArg}}
  {{/annotation}}
  void {{name}}() throws Exception {
    {{#bodyLines}}
    {{.}}
    {{/bodyLines}}
  }
  {{/tests}}
}
